@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');
.font {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
}

.fontDif {
    font-family: 'Libre Franklin', sans-serif;
}

.input:focus {
    outline: none;
}

.input {
    transform: translate(-5px, -00.7px)
}